body{
	font-family: 'Roboto' !important;
}

.ui-content{
	text-align: justify;
}

.ui-body-a, .ui-overlay-a{
	background: #FFF;	
}

.ui-header {
	border: 1px solid #DFDFDF;
	background: #e7e7e7;
	color: #fff;
	font-weight: bold;
	text-shadow: 0 -1px 0 #000;
}

.center{
	text-align: center;
}

.font-roboto{
	font-family: 'Roboto';
}

a.ui-link.active{
	color: rgb(248, 221, 47);
}

#header-icons{
	width: 50%;
	margin: auto;
	text-align: center;
	font-size: 20px; 
	padding: 10px;
}

#header-icons .h-icons{
	color: #3B3B3C;
	text-shadow: none;
	padding: 0 15px;
}

/************************MENU***************************/
#sidePanel li#active {
	background-color: #232323;
	border-left: 4px solid #FED47D;
}
#sidePanel li#active a, #sidePanel li#active a i{
	color: #F7C028;
}

#sideNav .ui-panel-inner{
	width: 17em;
}

#sideNav #sideButtons{
	width: 100%;
}

#sideNav #sideButtons li{
	width: 50%;
	text-align: center;
}

.ui-collapsible-inset{
	margin: 1em 0;
}

/*********************END OF MENU**********************/

/******************COLLAPSIBLE MENU********************/
.expandable-sideMenu{
	background: none;
	margin: 0;
}

.expandable-sideMenu .ui-collapsible-heading .ui-collapsible-heading-toggle{
	background: none;
	border: none;
	box-shadow: none;
}

.expandable-sideMenu .ui-collapsible-heading .ui-collapsible-heading-toggle .ui-btn-inner{
	border: none;
	padding: 0;
}

.expandable-sideMenu .ui-collapsible-heading .ui-collapsible-heading-toggle .ui-btn-inner .ui-btn-text{
	color: rgb(132, 132, 119);
	font-size: 13px;
}

.expandable-sideMenu .ui-collapsible-heading .ui-collapsible-heading-toggle .ui-btn-inner .ui-icon{
	display: none;
}
.ui-collapsible-content .expandableContent{
	padding-left: 0px;
}

.expandableContent li{
	color: rgb(46, 118, 225);
	padding-left: 2px !important;
	margin-left: 8px;
}
#sideNav .ui-panel-inner{
	overflow: scroll;
	height: 100%;
}
.ui-panel-animate.ui-panel-content-fixed-toolbar-position-left.ui-panel-content-fixed-toolbar-open.ui-panel-content-fixed-toolbar-display-reveal, .ui-panel-animate.ui-panel-content-fixed-toolbar-position-left.ui-panel-content-fixed-toolbar-open.ui-panel-content-fixed-toolbar-display-push, .ui-panel-animate.ui-panel-content-wrap-position-left.ui-panel-content-wrap-open.ui-panel-content-wrap-display-reveal, .ui-panel-animate.ui-panel-content-wrap-position-left.ui-panel-content-wrap-open.ui-panel-content-wrap-display-push{
	-webkit-transform: translate3d(23em,0,0);
	-moz-transform: translate3d(23em,0,0);
	transform: translate3d(23em,0,0);
}
.ui-panel, #sideNav .ui-panel-inner{
	width: 23em;
}
/***************END OF COLLAPSIBLE MENU****************/

.ui-body-a .ui-link{
	font-weight: normal;
}

.ui-header .ui-title {
color: #6C6C6C;
text-shadow: none;
font-family: 'Roboto';
}

#navIcon {
color: #7A7A7A;
}

#backButton{
    font-weight: normal;
    font-size: 16px;
    background: none;
    border: none;
    box-shadow: none;
    margin-top: 3px;
}

#backButton .ui-btn-inner{
	border: none;
}

#backButton .ui-btn-inner .ui-btn-text{
	font-size: 14px;
}

#sidePanel li a{
	font-family: 'Roboto';
	font-size: 13px;
}

#logo, #below-logo{
	display: block;
	margin: auto;
}

#logo{
	width: 42%;
	max-width: 285px;
}

#below-logo{
	width: 250px;
}

.swatch-5, .ui-content .ui-btn-up-a {
	background: #e7e7e7;
	box-shadow: 0px 2px 0px #D9D9D9;
}

.btn{
	font-family: 'Roboto';
}

.ui-btn-text{
	color: #3b3b3c;
	font-family: 'Roboto';
}

.home-menu .ui-btn-inner{
	padding: 1em;
	border: solid 1px #cfcfcf;
}

.ui-content .ui-btn-up-a{
	border: solid 1px #cfcfcf;
	border-radius: 1px !important;
}

.ui-btn-up-a{
	color: #3B3B3C;
}

.ui-content a.home-menu:hover .ui-btn-inner .ui-btn-text, a.ui-collapsible-heading-toggle:hover .ui-btn-inner .ui-btn-text{
	color: white;
}

.ui-content a.ui-collapsible-heading-toggle:hover{
	/*background-color: #2C3E50;*/
	background-color: rgb(37, 34, 106);
	border-radius: 1px;
	border: solid 1px #cfcfcf;
	box-shadow: 0px 2px 0px #D9D9D9;
}

a.ui-btn:hover{
	background-color: rgb(37, 34, 106);
}

.ui-content .ui-collapsible-heading .ui-btn-icon-left .ui-btn-inner{
	padding: 1em;
	text-align: center;
	border-top: 0;
}

.ui-content .ui-btn-icon-left > .ui-btn-inner > .ui-icon{
	display: none !important;
}

.home-preview{
	font-family: 'Roboto';
	font-size: 14px;
	line-height: 22px;
	padding-left: 25px;
}

p.home-preview{
	padding-left: 0;
}

.read-more{
	font-family: 'Roboto';
	text-align: right;
	font-size: 12px;
}

.impt-dates{
	padding-left: 0;
}

.page-title{
	color: rgb(53, 110, 148);
}

.page-content .home-preview, .page-content p{
	font-size: 14px;
	line-height: 25px;
}

.page-content p{
	padding: 0 10px;
	margin: 15px 0px;
}

.page-content img{
	max-width: 100%;
}

.margin-b{
	margin-bottom: 10px
}


/*********************CONTACT US**********************/
.contact-icons{
	font-size: 30px !important;
}

/*********************PROGRAMME**********************/
span.time{
	font-weight: bold;
	color: rgb(40, 37, 110);
}

li.market{
	background: rgba(0, 255, 39, 0.2);
	padding: 10px 8px;
}

.mart30{
	margin-top: 30px;
}

/*********************GET INVOLVED**********************/
.register-subs{
	font-size: 15px;
	text-transform: uppercase;
	text-align: center;
}

/*********************PRACTICAL INFORMATION**********************/
#reference{
	font-size: 12px;
	line-height: 16px;
	text-align: left;
	color: rgb(153, 153, 153);
	padding: 15px;
	background: rgb(255, 252, 197);
	border: solid 1px rgb(255, 250, 163);
}

.hotel-name{
	font-size: 14px;
}

.hotel-loc{
	font-size: 13px;
	color: rgb(247, 168, 35);
}

.distance{
	color: rgb(47, 49, 145);
	font-weight: bold;
	margin-right: 15px;
}

ul.hotels li{
	margin-bottom: 15px;
}

.accomodation-pic{
	width: 100%;
	display: block;
	margin: auto;
	max-width: 500px !important;
}

/*********************PICC VENUE**********************/
#picc{
	display: block; 
	text-align: center;
	margin-right: 15px;
}

#picc img{
	margin: 10px;
}

/*********************FAQ**********************/
.faq-qs .ui-btn-icon-left .ui-btn-inner{
	text-align: left !important;
	font-size: 13px;
	white-space: normal;
	line-height: 15px;
}

/*********************BOTTOM**********************/
.footer{
	margin-top: 30px;
	border-top: solid 1px rgba(207, 207, 207, 0.5);
	padding-top: 15px;
}

#hosts{
	max-width: 454px;
	width: 100%;
	margin-top: 5px;
	margin: auto;
}

#hosts a img{
	margin: 0 -3px;
	max-width: 100%;
}

#copyright{
	font-family: 'Roboto';
	color: #3b3b3c;
	margin-top: -5px;
}